<section>
  <table>
      <tr>
        <th>COG</th>
        <th>INT</th>
        <th>REF</th>
        <th>SAV</th>
        <th>SOM</th>
        <th>WIL</th>
      </tr>
      <tr>
        <td>
          <input name="data.cognition" type="text" value="{{data.cognition.value}}" data-dtype="Number" />
        </td>
        <td>
          <input name="data.intuition" type="text" value="{{data.intuition.value}}" data-dtype="Number" />
        </td>
        <td>
          <input name="data.reflexes" type="text" value="{{data.reflexes.value}}" data-dtype="Number" />
        </td>
        <td>
          <input name="data.savvy" type="text" value="{{data.savvy.vaue}}" data-dtype="Number" />
        </td>
        <td>
          <input name="data.somatics" type="text" value="{{data.somatics.value}}" data-dtype="Number" />
        </td>
        <td>
          <input name="data.willpower" type="text" value="{{data.willpower.value}}" data-dtype="Number" />
        </td>
      </tr>
    </table>
  </section>
