<section>
  <table>
      <tr>
        <th>{{localize "ep2.skill"}}</th>
        <th>{{localize "ep2.aptitude"}}</th>
        <th>{{localize "ep2.type"}}</th>
        <th>{{localize "ep2.specialisation"}}</th>
        <th>{{localize "ep2.total"}}</th>
      </tr>
      <tr>
        <td>{{localize "ep2.skills.athletics"}}</td>
        <td>{{localize "ep2.aptitudes.somatics"}}</td>
        <td>{{localize "ep2.skillCategory.physical"}}</td>
        <td>
          "coming"
        </td>
        <td>
          <input name="data.athletics" type="text" value="{{data.athletics}}" data-dtype="Number" />
        </td>
      </tr>
    </table>
</section>
