<section>
  <table>
      <tr>
        <th>{{localize "ep2.aptitudes.cognition"}}</th>
        <th>{{localize "ep2.aptitudes.intuition"}}</th>
        <th>{{localize "ep2.aptitudes.reflexes"}}</th>
        <th>{{localize "ep2.aptitudes.savvy"}}</th>
        <th>{{localize "ep2.aptitudes.somatics"}}</th>
        <th>{{localize "ep2.aptitudes.willpower"}}</th>
      </tr>
      <tr>
        <td>
          <input name="data.cognition" type="text" value="{{data.cognition}}" data-dtype="Number" />
        </td>
        <td>
          <input name="data.intuition" type="text" value="{{data.intuition}}" data-dtype="Number" />
        </td>
        <td>
          <input name="data.reflexes" type="text" value="{{data.reflexes}}" data-dtype="Number" />
        </td>
        <td>
          <input name="data.savvy" type="text" value="{{data.savvy}}" data-dtype="Number" />
        </td>
        <td>
          <input name="data.somatics" type="text" value="{{data.somatics}}" data-dtype="Number" />
        </td>
        <td>
          <input name="data.willpower" type="text" value="{{data.willpower}}" data-dtype="Number" />
        </td>
      </tr>
    </table>
  </section>
