<section>
  {{localize "ep2.identity.aliases"}}
  <input name="data.aliases" type="text" value="{{data.aliases}}" data-dtype="Text" />
  {{localize "ep2.identity.languages"}}
  <input name="data.languages" type="text" value="{{data.languages}}" data-dtype="Text" />
  {{localize "ep2.identity.career"}}
  <input name="data.career" type="text" value="{{data.career}}" data-dtype="Text" />
  {{localize "ep2.identity.sex"}}
  <input name="data.sex" type="text" value="{{data.sex}}" data-dtype="Text" />
  {{localize "ep2.identity.gender"}}
  <input name="data.gender" type="text" value="{{data.gender}}" data-dtype="Text" />
  {{localize "ep2.identity.sexualIdentity"}}
  <input name="data.sexualIdentity" type="text" value="{{data.sexualIdentity}}" data-dtype="Text" />
  {{localize "ep2.identity.culturalHeritage"}}
  <input name="data.race" type="text" value="{{data.culturalHeritage}}" data-dtype="Number" />
  {{localize "ep2.identity.age"}}
  <input name="data.age" type="text" value="{{data.age}}" data-dtype="Number" />
  {{localize "ep2.identity.faction"}}
  <input name="data.faction" type="text" value="{{data.faction}}" data-dtype="Text" />
  {{localize "ep2.identity.motivation"}}
  <input name="data.motivation" type="text" value="{{data.motivation}}" data-dtype="Text" />
  {{localize "ep2.description"}}
  <input name="data.description" type="text" value="{{data.description}}" data-dtype="Text" />
</section>
