<section>
  <table>
      <tr>
        <th>@-rep</th>
        <th>c-rep</th>
        <th>f-rep</th>
        <th>g-rep</th>
        <th>i-rep</th>
        <th>r-rep</th>
        <th>x-rep</th>
      </tr>
      <tr>
        <td>
          <input name="data.at-rep" type="text" value="{{data.at-rep}}" data-dtype="Number" />
        </td>
        <td>
          <input name="data.c-rep" type="text" value="{{data.c-rep}}" data-dtype="Number" />
        </td>
        <td>
          <input name="data.f-rep" type="text" value="{{data.f-rep}}" data-dtype="Number" />
        </td>
        <td>
          <input name="data.g-rep" type="text" value="{{data.g-rep}}" data-dtype="Number" />
        </td>
        <td>
          <input name="data.i-rep" type="text" value="{{data.i-rep}}" data-dtype="Number" />
        </td>
        <td>
          <input name="data.r-rep" type="text" value="{{data.r-rep}}" data-dtype="Number" />
        </td>
        <td>
          <input name="data.x-rep" type="text" value="{{data.x-rep}}" data-dtype="Number" />
        </td>
      </tr>
    </table>
</section>
