<section>
  <table>
      <tr>
        <th>{{localize "ep2.physical.damage"}}</th>
        <th>{{localize "ep2.physical.wounds"}}</th>
        <th>{{localize "ep2.physical.durability"}}</th>
        <th>{{localize "ep2.physical.woundThreshold"}}</th>
        <th>{{localize "ep2.physical.deathRating"}}</th>
        <th>{{localize "ep2.physical.movement"}}</th>
      </tr>
      <tr>
        <td>
          <input name="data.damageTaken" type="text" value="{{data.damageTaken}}" data-dtype="Number" />
        </td>
        <td>
          <input name="data.woundsTaken" type="text" value="{{data.woundsTaken}}" data-dtype="Number" />
        </td>
        <td>
          <input name="data.durability" type="text" value="{{data.durability}}" data-dtype="Number" />
        </td>
        <td>
          <input name="data.woundThreshold" type="text" value="{{data.woundThreshold}}" data-dtype="Number" />
        </td>
        <td>
          <input name="data.deathRating" type="text" value="{{data.deathRating}}" data-dtype="Number" />
        </td>
        <td>
          <input name="data.movementRate" type="text" value="{{data.movementRate}}" data-dtype="Number" />
        </td>
      </tr>
    </table>
</section>
