<section>
  <table>
      <tr>
        <th>Damage</th>
        <th>Wounds</th>
        <th>Durability</th>
        <th>Wound Threshold</th>
        <th>Death Rating</th>
        <th>Movement</th>
      </tr>
      <tr>
        <td>
          <input name="data.damageTaken" type="text" value="{{data.damageTaken}}" data-dtype="Number" />
        </td>
        <td>
          <input name="data.woundsTaken" type="text" value="{{data.woundsTaken}}" data-dtype="Number" />
        </td>
        <td>
          <input name="data.durability" type="text" value="{{data.durability}}" data-dtype="Number" />
        </td>
        <td>
          <input name="data.woundThreshold" type="text" value="{{data.woundThreshold}}" data-dtype="Number" />
        </td>
        <td>
          <input name="data.deathRating" type="text" value="{{data.deathRating}}" data-dtype="Number" />
        </td>
        <td>
          <input name="data.movementRate" type="text" value="{{data.movementRate}}" data-dtype="Number" />
        </td>
      </tr>
    </table>
</section>
