<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
      <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
      <h1><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
  </header>
  test
  <div class="sheet-content">

    <div class="character-attributes">
      {{> "systems/ep2/templates/partials/character-attributes.hbs"}}
    </div>

    <div class="character-identity">
      {{> "systems/ep2/templates/partials/character-identity.hbs"}}
    </div>

    <div class="character-reputation">
      {{> "systems/ep2/templates/partials/character-reputation.hbs"}}
    </div>

    <div class="physical">
      {{> "systems/ep2/templates/partials/physical.hbs"}}
    </div>

    <div class="character-skills">
      {{> "systems/ep2/templates/partials/character-skills.hbs"}}
    </div>

    {{editor content=data.description target="data.description" button=true owner=owner editable=editable }}
  </div>
</form>
